#completeBookShelf {
  display: grid;
  grid-gap: 20px;
  padding: 16px;
  border-radius: $border-radius-container;
  h2 {
    grid-gap: $gap-sm;
    color: $color-font-title;
  }
  
  .book-list-container {
    #bookListCompleted {
      border-color: #ececec;
      border-left-width: 10px;
      border-left-style: solid;
    }
  }
}