.App-header {
  background-color: #fcfcfc;        
  filter: $shadow-center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 30px ;
  .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .logo_brand > img {
      width: 200px;
    }
  }
}

.search_section {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius;
  h2 {
    color: $font;
  }
  form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    label, button {
      color: $font
    }
    label {
    display: flex;
    align-items: center;
    font-weight: bold;
    }
    input {
      padding: 8px;
      width: 300px;
      border-top-right-radius: $disabled-0;
      border-bottom-right-radius: $disabled-0;
      background-color: #f8f8f8;
      border: 1px solid #ececee;
    }
    button {
      display: grid;
      place-items: center;
      background-color: #ececec;
      cursor: pointer;
      padding: 8px;
      border: $disabled-none;
      border-top-left-radius: $disabled-0;
      border-bottom-left-radius: $disabled-0;
      &:hover {
        filter: $brightness
      }
    }
  }
}