@import './lib/_variables';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background:  $background;
}

h2 {
    font-size: 28px;
    display: grid;
    align-items: center;
    grid-template-columns: 32px auto;
    color: $font;
}

input, 
button {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: $border;
    font-size: 16px;
    color: $font;
}

input:focus {
    outline: none;
}

ul {
    list-style-type: none;
}

@import '_header.scss';
@import '_main.scss';
@import '_footer.scss';